# Fichiers de configuration sensibles (contiennent tes mots de passe BDD, etc.)
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dépendances (trop lourdes pour GitHub)
/vendor/
/node_modules/

# Fichiers générés par Symfony
/var/
/public/bundles/

# Fichiers système ou d'IDE
.DS_Store
.idea/
.vscode/